<div class='back-ground-image-signup'>
<div class='flex-container align-center' >
  <div class='border-new-photographer'>
    <div class='new-photographer-component'>
    <h2 class='photographer-form'>Welcome to Picture This</h2>
      <p class='join-roster'>Find photographers in your area</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


<div class="signup-login">
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<p class="or">OR</p>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>




