<div class='home-body'>
  <div class='section01-image'>
    <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home+Page/section01.jpg', alt:'home page')%>
  </div>
    <div class='section01-heading-container'>
      <h2 class='section01-heading'>Find and book your dream photographer</h2>
        <p class='section01-button-container'>
          <a href='/photographers' class='section01-button'>All Photographers</a>
        </p>
    </div>

    <div class='tcontainer'>
      <div class='tproduct-grid'>
        <div class='tcard'>
          <a href='/photographers/6'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Molly/Molly01.jpg', alt:'engagements') %></a>
        </div>
            <div class='tcard'>
          <a href='/photographers/6'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Molly/Molly06.jpg', alt:'engagements') %></a>
        </div>
            <div class='tcard'>
          <a href='/photographers/6'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Molly/Molly03.jpg', alt:'engagements') %></a>
        </div>
            <div class='tcard'>
          <a href='/photographers/6'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Molly/Molly08.jpg', alt:'engagements') %></a>
        </div>
      </div>
    </div>

  <div class='fitness-container'>
    <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home+Page/section-fitness.png', alt:'home page')%>
    <div class='fitness-text'>
          <h1 class='section-fitness-heading'>Elevate Your Game</h1>
          <h5 class='section-fitness-subheading'>You need a photographer who can keep up.</h5>
          <div class='section-fitness-button-container'>
            <a href='/photographers' class='section-fitness-button'>Browse</a>
          </div>
      </div>
      </div>
  </div>  












