<div class='home-body'>
  <div class='home-text-images-flex'>
    <div class='home-text-container'>
      <div class='home-title'>
        <div class='home-title-italic'>
          Find 
        </div> and 
          <div class='home-title-italic'>
            Book
          </div> 
        <div>your
          <div class='home-title-italic'>
            dream
          </div> Photographer
        </div>
      </div>
      <div class='home-banner-img'>
        <a href='/photographers' class='home-banner-img-button'>
          Get Started
        </a>
      </div>
    </div>

      <div class='home-photos-wrapper'>
        <div class='home-column-1'>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Connor/Graduation/Graduation03.jpg', alt:'graduation') %>
          </div>
            <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Engagement.jpg', alt:'engagement') %>
          </div>
        </div>

        <div class='home-column-2'>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Marc/Fashion/Marc06.jpg', alt:'fashion') %>
          </div>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Food.jpg', alt:'food') %>
          </div>
        </div>

        <div class='home-column-3'>
          <div class='home-img'>
            
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/James/James10.jpg', alt:'celebrity') %>
          </div>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home+Page/Family02-home.jpg', alt:'family') %>
          </div>
        </div>

        <div class='home-column-4'>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Wedding.jpg', alt:'wedding') %>
          </div>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Pets.jpg', alt:'pets') %>
          </div>
        </div>

        <div class='home-column-5'>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Portraits.jpg', alt:'portrait') %>
          </div>
            <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Sports.jpg', alt:'sport') %>
          </div>
        </div>

        <div class='home-column-6'>
          <div class='home-img'>   
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Fitness.jpg', alt:'fitness') %>
          </div>
          <div class='home-img'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Events.jpg', alt:'event') %>
          </div>
        </div>
        </div>
    </div>
  </div>

















