<div class='home-body'>
  <div class='text-images-flex'>
    <div class='fBB'>
      <div class='fab-photographer'>
        <div class='find-home'>Find </div> and <div class='find-home'>Book</div> 
        <div>your <div class='find-home'>dream</div> Photographer</div>
        </div>
        <div class='sb'><a href='/photographers' class='section01-button'>Get Started</a></div>
        </div>

      <div class='tproduct-grid'>
        <div class='tcard-stack1'>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Connor/Graduation/Graduation03.jpg', alt:'graduation') %>
          </div>
            <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Engagement.jpg', alt:'engagement') %>
          </div>
        </div>

        <div class='tcard-stack2'>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Marc/Fashion/Marc06.jpg', alt:'fashion') %>
          </div>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Food.jpg', alt:'food') %>
          </div>
        </div>

        <div class='tcard-stack3'>
          <div class='tcard'>
            
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/James/James10.jpg', alt:'celebrity') %>
          </div>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home+Page/Family02-home.jpg', alt:'family') %>
          </div>
        </div>

        <div class='tcard-stack4'>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Wedding.jpg', alt:'wedding') %>
          </div>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Pets.jpg', alt:'pets') %>
          </div>
        </div>

        <div class='tcard-stack5'>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Portraits.jpg', alt:'portrait') %>
          </div>
            <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Sports.jpg', alt:'sport') %>
          </div>
        </div>

        <div class='tcard-stack6'>
          <div class='tcard'>   
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Fitness.jpg', alt:'fitness') %>
          </div>
          <div class='tcard'>
            <%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Events.jpg', alt:'event') %>
          </div>
        </div>
        </div>
    </div>
  </div>

<div class='ml-mr-home'>
<div class='line-d-home'></div>
<div class='home-bhh-wrapper'>
  <div class='fitness-container'>
    <div class='fitness-wrapper'>
      <div class='fitness-h-img'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Paul/Fitness/Fitness10.jpg', alt:'fitness photographers') %></div>
        <div class='fitness-h-info'>
          <h2 class='fitness-h-title'>Capture and Share Your Workouts</h2>
          <h5 class='fitness-h-sub'>You need a photographer who can keep up</h5>
          <p class='fitness-h-description'>Where did you start? How do you stay motivated? These are questions a lot of people have when embarking on their fitness journey. Let's be honest, going to a gym can be intimidating for beginners. This is why it's important for you to share your workouts and results. To inspire others and keep them motivated. Our photographers are up for the challenge, are you? </p>
      </div>
    </div>
    <%# <div class='engagement-wrapper'>
        <div class='engagement-h-img'><%= image_tag('https://picture-this-production.s3.amazonaws.com/Molly/Molly07.jpg', alt:'fitness photographers') %></div>
    <%# </div> %>
  </div>
</div>
</div>















