
<div class="home-page-layout">
<div class="container">

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers" class="image-home"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Fashion.jpg', alt: "Fashion") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Pets.jpg', alt: "Pets") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Events.jpg', alt: "Events") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Portraits.jpg', alt: "Portraits") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Sports.jpg', alt: "Sports") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Wedding.jpg', alt: "Weddings") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Graduation.jpg', alt: "Graduation") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers" ><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Engagement.jpg', alt: "Engagements", title:"Engagement") %></a>
</div>

<div class="image-tile-index zoom-on-hover" >
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Fitness.jpg', alt: "Fitness") %></a>
</div>

<div class="image-tile-index zoom-on-hover" >
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Family.jpg', alt: "Families") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Food.jpg', alt: "Food") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('https://picture-this-production.s3.amazonaws.com/Home/Influencers.jpg', alt: "Influencers") %></a>
</div>

</div>
</div>
</div>






