
<div class="home-page-layout">
<div class="container">

  <div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Portraits.jpg', alt: "Portraits") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers" ><%= image_tag('Engagement.jpg', alt: "Engagements", title:"Engagement") %></a>
</div>

<div class="image-tile-index zoom-on-hover" >
  <a href="/photographers"><%= image_tag('Family.jpg', alt: "Families") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Fashion.jpg', alt: "Fashion") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Wedding.jpg', alt: "Weddings") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Influencers.jpg', alt: "Influencers") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Pets.jpg', alt: "Pets") %></a>
  </div>

  <div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Sports.jpg', alt: "Sports") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Events.jpg', alt: "Events") %></a>
</div>

<div class="image-tile-index zoom-on-hover">
  <a href="/photographers"><%= image_tag('Graduation.jpg', alt: "Graduation") %></a>
</div>

<div class="image-tile-index zoom-on-hover" >
  <a href="/photographers"><%= image_tag('Fitness.jpg', alt: "Fitness") %></a>
</div>

</div>
</div>
</div>






