<div class="index-page">
<h1 class="all-photographers"> </h1>


<ul>
  <% @photographers.each do | photographer |%>
  <div class="target-photographer" >
      <p>
        Name: <%= photographer.first_name  %> <%= photographer.last_name %>
        Email: <%= photographer.email %>
        Location: <%= photographer.location %>
        Description: <%= photographer.description %>
      </p>
  </div>
  <% end %>
</ul>
</div>
</div>

