<div class="show-page">
<h1 class="show-title">Photographer Show Page</h1>

<div class="show-info">
<p>Name: <%= @photographer.first_name %> <%= @photographer.last_name %></p>
<p>Email: <%= @photographer.email %></p>
<p>Description: <%= @photographer.description %></p>
<p>Location: <%= @photographer.location %></p>
</div>


</div>


