<!DOCTYPE html>
<html>
<head>
  <title>Picture This</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar">
    <a href="/" class="logo"><%= image_tag("logo.png", alt: "Logo")%></a>
      <section class="top-bar-section">

      <ul class="right">
      <div class="about-contact">
        <a href="about.html" class="button hollow">About</a>
        </div>
        <%- if current_user -%>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%- else -%>
          <%= link_to 'Log In', new_user_session_path, :class => "button log-in" %>
          <%= link_to 'Sign Up', new_user_registration_path , :class => "button sign-up" %>
        <%- end -%>
      </ul>
    </section>
  </nav>

<div class='flash-message' >
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <footer>
    <div class="footer">
      <div class="footer-info">
        <p>
          <a class="about-us" href="/aboutme">About</a>  
      </div>
        <p> 
      <div class="icons">
          <a href="https://www.pinterest.com/Picture_This_/" target="_blank" class="pinterest"><%= image_tag("Pinterest.png", alt: "pinterest")%></a>
          <a href="https://www.instagram.com/instagram/?hl=en" target="_blank" class="instagram"><%= image_tag("Instagram.png", alt: "instagram")%></a>
          <a href="https://www.linkedin.com/in/marcyebra/" target="_blank" class="linkedin"><%= image_tag("Linkedin.png", alt: "Linkedin")%></a>
      </div>
    </div>
  </footer>
</body>
</html>
