<!DOCTYPE html>
<html>
<head>
  <title>Picture This</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='top-bar-header'>
  <a href='/photographers' class='top-bar-header text'>Visit our Featured Photographers of the Month</a>
</div>

  <div class='home-top-bar'>
    <div class='top-bar-left'></div>
      <div class='home-logo'>
        <a href="/"><%= image_tag("https://picture-this-production.s3.amazonaws.com/Icons/updated-logo.png", alt: "Logo")%></a>
      </div>
    <div class='top-bar-right'></div>
    
  <div class='home-sign-in-sign-up'>
      <ul>
        <%- if current_user -%>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => 'home-sign-buttons' %>
        <%- else -%>
          <%= link_to 'Sign In', new_user_session_path, :class => 'home-sign-buttons'  %> / <%= link_to 'Sign Up', new_user_registration_path, :class => 'home-sign-buttons'  %>
        <%- end -%>
      </ul>
      </div>
    </div>

<div class='flash-message' >
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <footer>
    <div class="icons">
      <a href="https://www.pinterest.com/Picture_This_/" target="_blank" class="pinterest"><%= image_tag("https://picture-this-production.s3.amazonaws.com/Icons/white-pinterest-logo-png--30.png", alt: "pinterest")%></a>
      <a href="https://www.instagram.com/instagram/?hl=en" target="_blank" class="instagram"><%= image_tag("https://picture-this-production.s3.amazonaws.com/Icons/instagram-logo-white.png", alt: "instagram")%></a>
      <a href="https://www.linkedin.com/in/marcyebra/" target="_blank" class="linkedin"><%= image_tag("https://picture-this-production.s3.amazonaws.com/Icons/linkedin-logo-white.png", alt: "Linkedin")%></a>
      <div class="footer-divider">
        <a href="/questions" class="faq-color" > FAQ </a>   |  
        <a href="/about" class="about-color"> About </a>
      </div>
    </div>
  </footer>
</body>
</html>
